@import "tailwindcss";

:root {
    --color-main-50: 250 250 250;
    --color-main-100: 245 245 245;
    --color-main-200: 229 229 229;
    --color-main-300: 212 212 212;
    --color-main-400: 163 163 163;
    --color-main-500: 115 115 115;
    --color-main-600: 82 82 82;
    --color-main-700: 64 64 64;
    --color-main-800: 38 38 38;
    --color-main-900: 23 23 23;
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

body {
    font-family: JetBrains Mono;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(160, 161, 165, 0.4) transparent;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background: rgba(160, 161, 165, 0.4);
    border-radius: 999px;
}
